/lib/tcl/xcircuit.dll.a
/menudep.exe
/xcircexec.exe
xcircuit
config.cache
config.status
config.log
menudep
spiceparser/Makefile
asg/Makefile
asg/Makefile.in
Xw/Makefile
Xw/Makefile.in
Makefile
xcircexec
menudep.h
lib/xcircuit.1
lib/tcl/xcircuit.sh
lib/tcl/xcircuit.tcl
*.o
*.so
*~
UPDATE_ME
VERSION
aclocal.m4
autom4te.cache
config.guess
config.sub
confwx2NPt
install-sh
missing
mkinstalldirs
spiceparser/Makefile.in
spiceparser/sp.pxd
spiceparser/spiceparser.dll
spiceparser/spiceparser.pyc
Makefile.in
configure
resources.res
xcircuit-win32.exe
