xcircuit
config.cache
config.status
config.log
menudep
spiceparser/Makefile
asg/Makefile
Xw/Makefile
Makefile
xcircexec
menudep.h
lib/xcircuit.1
lib/tcl/xcircuit.sh
lib/tcl/xcircuit.tcl
*.o
*.so
*~
UPDATE_ME
VERSION
